footer {
  position: absolute;
  max-width: 95%;
  width: 50rem;
  box-sizing: border-box;
  border: 2px solid white;
  padding: 5px;
  border-radius: 12px;
  background-color: #333;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 105%;
}

footer a {
  color: #bbb;
}

footer > h2 {
  justify-content: center;
  text-align: right;
}
footer .links {
  float: right;
  width: 40%;
  font-size: 0.95em;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
footer .column {
  float: left;
  width: 33.33%;
}
#c {
  float: left;
  width: 50%;
  position: absolute;
}
.row {
  padding-right: 25px;
  padding-left: 25px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
footer .links ul li {
  list-style: none;
}
footer .links ul li a {
  color: #6f6f6f;
  line-height: 1.9em;
}
/* 
@media screen and (max-width: 1599px) {
  footer .top .links {
    width: 45%;
  }
  footer .top .about {
    width: 55%;
  }
  footer .top .about .icons > div span {
    min-width: auto;
  }
}
@media screen and (max-width: 1365px) {
  footer .top .links {
    width: 50%;
  }
  footer .top .about {
    width: 50%;
  }
}
@media screen and (max-width: 992px) {
  footer .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  footer .top .links {
    width: 100%;
    margin: 10px 0;
  }
  footer .top .about {
    width: 100%;
    margin: 10px 0;
  }
} */

@media screen and (max-width: 580px) {
  footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    top: 110%;
  }
  footer .links {
    float: right;
    width: 50%;
    font-size: 0.95em;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  footer .column {
    float: left;
    width: 30%;
  }
  footer h2 {
    justify-content: center;
    text-align: right;
  }
  footer .links ul li {
    list-style: none;
    padding-left: 0;
  }
  #c {
    float: left;
    width: 45%;
    position: absolute;
    height: 50%;
  }
  h3 {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .row {
    padding-right: 0;
  }
  ul {
    border: None;
    border-radius: None;
    box-shadow: None;
    overflow: visible;
    padding: 0;
    margin-left: 0;
  }
  p {
    padding: 0;
    margin: 0;
    font-size: 0.75rem;
  }
}
