* {
    -webkit-font-smoothing: antialiased;
  }
  .background {
    padding: 1rem;
    background-color: rgb(8, 148, 62);
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
  
.button-1 {
      background-color: #000000;
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: 500;
      height: 40px;
      line-height: 20px;
      list-style: none;
      margin: 0;
      outline: none;
      padding: 10px 16px;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: color 100ms;
      vertical-align: baseline;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
.button-1:hover, .button-1:focus {
    background-color: #F082AC;
}
  
@media (max-width: 580px) {
    .background {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex: 1;
      background-color: rgba(27, 219, 43, 0.712);
      border-radius: 12px;
      margin-left: auto;
      margin-right: auto;
      width: 50rem;
      max-width: 95%;
    }
  
    .new_expense_attribute h1 {
      font-size: 1.25rem;
    }
  
    .new_expense_action {
      float: center;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
  