/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    width: 50rem;
  }
  
  /* Full-width inputs */
  .login-user, .login-psw{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  label > b {
    color: white;
    float: center;
    margin-left: 45%;
  }
  
  /* Set a style for all buttons */
  .loginbtn {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the forgot password button (red) */
  .forgotPsw {
    width: auto;
    float: right;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
  }


  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    transform: scale(1);
    padding: 0;
    margin: 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 10%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }